<ion-content [fullscreen]="true">
  <h1 class="heading" align="center">Research</h1>
  <h2 class="subheading" align="center">
    Math and math education research projects.
  </h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div>
          <ion-card>
            <ion-card-content>
              <img src="/assets/Math Images/gaghi.jpg" />
              <ion-button href="research/galois-theory">
                Galois Theory Research
              </ion-button>
            </ion-card-content>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
