.image {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 120px;
}

.horizontal-swiper {
  height: 100%;
  align-items: center;
}

.full-screen-image {
  height: auto;
  object-fit: cover;
}

.scaled-image {
  height: 100%;
  max-height: 160px;
  height: auto;
}

.ion-padding {
  padding: 16px;
}

div {
  text-align: center;
}

ion-col {
  display: flex;
  size: auto;
  margin-left: 16px;
  margin-right: 16px;
}

ion-card {
  padding: 5px;
  width: 360px;
  margin: auto;
  background-color: var(--ion-color-bg);
}

swiper-container {
  width: 320px;
}

ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}