<ion-content [fullscreen]="true">
    <h1 align="center" class="heading">Personal Projects</h1>
    <h2 align="center" class="subheading">Various personal works and explorations.</h2>

    <ion-grid>
      <ion-row>

        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="/assets/Origami Images/RhombicTri1-removebg.png" />
              <ion-button href="projects/origami"> Origami </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-content>
              <img class="tinted" src="/assets/Math Images/MaVS-RemoveBG.png" />
              <ion-button href="https://www.mavs.uno" target="_blank">
               Modeling and Visualizing STEM </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="/assets/icon/shapeicon.jpg" />
              <ion-button href="projects/constructions"> Constructions </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-content>
              <ion-card-header>
                <div class="subheading" class="text">{{ q1 }}</div>
              </ion-card-header>
              <ion-button href="projects/problem"> An Interesting Question </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="/assets/Nature Images/Cows2.jpg"/>
              <ion-button href="projects/photos"> Photography </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

        <ion-col>
          <ion-card>
            <ion-card-content>
              <img src="/assets/Art Images/Background.png"/>
              <ion-button href="projects/traditional"> Traditional Art </ion-button>
            </ion-card-content>
          </ion-card>
        </ion-col>

      </ion-row>
    </ion-grid>
</ion-content>
