<ion-header>
    <ion-toolbar>
        <div style="text-align:center;margin-bottom:24px;height:20px;line-height:20px">
            <ion-button href="math" class="button">
                <ion-icon name="arrow-undo-outline"></ion-icon>
            </ion-button>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <h1 align="center" class="headmargin">
        <font size="+3"> <strong>
                Galois Theory Research
            </strong></font>
    </h1>
    <div class="headmargin"><font size="+1">
        Currently, I am recieving funding from UNO and NASA to research the classification of a Galois group with
        maximal nilpotency class over a field of characteristic <i>p</i>, for some prime <i>p</i>. My profile is
        featured on the NASA Nebraska Space Grant website <a href="https://www.nespacegrant.org/students-2023-2024"
            target="_blank">here</a>.
    </font></div>
</ion-content>