<ion-header>
  <ion-toolbar>
    <div
      style="
        text-align: center;
        margin-bottom: 24px;
        height: 20px;
        line-height: 20px;
      "
    >
      <ion-button href="math" class="button">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <h1 align="center" class="headmargin">
    <font size="+3"> <strong> Galois Theory Research </strong></font>
  </h1>
  <div class="headmargin">
    <font size="+1">
      My current research is using Artin-Schreier presentations to classify Galois extensions of degree {{ p6 }} and {{ p5 }}
      and maximal nilpotency class over a field of characteristic <i>p</i>, for some prime <i>p</i>. From May 2023-24, 
      I was funded by the NASA Nebraska Space Grant. My profile is featured
      on the NASA Nebraska Space Grant website
      <a href="https://www.nespacegrant.org/students-2023-2024" target="_blank" >here</a>.
    </font>
  </div>
  <div class="headmargin">
    <font size="+1">
      On May 31st, 2024, I presented at the annual Hopf Algebras and Galois Module Theory Conference in Omaha, Nebraska. A recording
      of my presentation and the poster can be found 
      <a href="http://www.hopf-galois.org/2024Omaha/index.html" target="_blank" >here</a>.
    </font>
  </div>

</ion-content>
