<ion-content [fullscreen]="true">
  <h1 align="center" class="headmargin">
    <font size="+3"> <strong>
        Artistic Endeavors
      </strong></font>
  </h1>
  <h2 align="center" class="margin">
    <font size="+1">
      Expressing Creativity
    </font>
  </h2>
  <p align="center" class="txtmargin">
    I believe math and art are intertwined, but for the sake of organization, art has a separate page.
  </p>

  <ion-grid>
    <ion-row> <!-- 1 -->

      <ion-col> <!-- 1.1 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/BigGeodesicOrigami.jpg" />
            </picture>
            <ion-card-title>Icosahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 480 tornillo units. If you look at the inside set of vertices, it’s the &lcub;3,5+&rcub;_(2,2)
            geodesic polyhedron . If you look at the outside set of vertices, it’s the &lcub;5,3+&rcub;_(2,2) Goldberg
            polyhedron. If you consider every face to be that of a geodesic polyhedron, it would be
            &lcub;3,5+&rcub;_(6,0)
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.2 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/HexagonalOrigami.jpg" />
            </picture>
            <ion-card-title>Hexagons</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with Eric Gjerde's Spread Hex tessellation.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.3 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/AlexWearingOrigami.jpg" />
            </picture>
            <ion-card-title>Hexagonal Hat</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            My cat, Alex, proudly displaying the hexagonal origami.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.4 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/RainbowCircle.jpg" />
            </picture>
            <ion-card-title>Circle of Shapes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each shape was made with 30 very small sonobe units and placed around a circle construction.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.5 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/GreenOrigami.jpg" />
            </picture>
            <ion-card-title>Green Excavated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.6 --> <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/OrangeOrigami.jpg" />
            </picture>
            <ion-card-title>Orange Excavated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 of Byriah Loper's Vortex Module.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.7 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/SeveralOrigamis.jpg" />
            </picture>
            <ion-card-title>Shape Stack</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Assorted origami shapes.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.8 -->
        <ion-card>
          <ion-card-header>
            <swiper-container id="container5" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/PurpleFlowers1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/PurpleFlowers2.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Floral Small Stelated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.9 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/SonobeGeodesicOrigami.jpg" />
            </picture>
            <ion-card-title>Octahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 108 Sonobe units. This origami is the stellated octahedral geodesic polyhedron
            &lcub;3,4+&rcub;_(3,0), or if you view the stellations as more faces, it's the octahedral geodesic
            polyhedron &lcub;3,4+&rcub;_(3,3).
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.10 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/YellowRedBlocksOrigami.jpg" />
            </picture>
            <ion-card-title>Cube Stack</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 6, 12, and 24 modified Sonobe units respectively
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.11 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/PurpleOrigami.jpg" />
            </picture>
            <ion-card-title>Purple Great Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Rather, a "slightly" truncated great stellated dodecahedron.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.12 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/YellowPinkOrigami.jpg" />
            </picture>
            <ion-card-title>Sunrise Origami</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.13 -->
        <ion-card>
          <ion-card-header align-items="center">
            <swiper-container id="container2" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Pentagon5.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Pentagon6.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Pentagon2.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Pentagon1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Pentagon4.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Pentagon3.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Intersecting Pentagons</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.14 -->
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/SmallBlack2.JPG">
            </picture>
            <ion-card-title>Small but Complex</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> <!-- 1.15 -->
        <ion-card>
          <ion-card-header align-items="center">
            <swiper-container id="container1" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Sun1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Sun2.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Sun3.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Sun4.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Sun5.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Sun6.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Playing with Color</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units, transition from sunset shades to sunrise shades.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/ManyTornillos1.JPG">
            </picture>
            <ion-card-title>Tornillo Versatility</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            All Archimedean solids made with the tornillo unit. Stellated snub cube, icosidodecahedron, octahedron, cuboctahedron, hexagonal antiprism, small rhombicosidodecahedron.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/SeveralDiffOrigamis.JPG">
            </picture>
            <ion-card-title>Miscellaneous Origamis</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each made with 4-12 units. Notice the weird one in the middle? It has the least symmetry out of any origami shape I've made.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/Small.JPG">
            </picture>
            <ion-card-title>Octahedral Symmetry</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each is made with 12 units and displays octahedral symmetry.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/WhiteGuys.JPG">
            </picture>
            <ion-card-title>White Origami, Black Background</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            These were some of the first origami shapes I ever made, before I got fun, colorful paper.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/PinkFlowerGissid.JPG">
            </picture>
            <ion-card-title>Flowering Great Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container6" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/BigGeodesic1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/BigGeodesic2.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Icosahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 480 tornillo units. Notice the pentagonal placement versus hexagonal placement of triangular prisms?
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/TornilloStack.JPG">
            </picture>
            <ion-card-title>Stack of Small Stellated Dodecahedra</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            6 shapes, each made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/GeodesicTetr1.JPG">
            </picture>
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/GeodesicTetr2.JPG">
            </picture>
            <ion-card-title>Geodesic Tetrahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 216 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> 
        <ion-card>
          <ion-card-header align-items="center">
            <swiper-container id="container3" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/BlackOrange1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/BlackOrange2.JPG">
              </swiper-slide>
            </swiper-container>
            <swiper-container id="container4" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/PurpleGreen1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/PurpleGreen2.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Two Bi-Colored Stellated Icosahedra</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each made with 30 modified sonobe units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> 
        <ion-card>
          <ion-card-header>
            <swiper-container id="container7" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/GreenGuy1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/GreenGuy2.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Slightly Truncated Small Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/Colorful.JPG">
            </picture>
            <ion-card-title>Colorful Shape</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 modified sonobe units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/BlueTornillo.JPG">
            </picture>
            <ion-card-title>Blue Small Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 tornillo units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container8" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/ColorfulTornillo1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/ColorfulTornillo2.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Pentagonal Antiprism</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 20 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container9" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Flowers1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/Flowers2.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Flowering Icosahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units. A good way to see the icosahedron/dodecahedron dual property!
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/Gissid.JPG">
            </picture>
            <ion-card-title>Great Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 tornillo units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/GreenFlowerOrigami.JPG">
            </picture>
            <ion-card-title>Stellated Icosahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 modified sonobe units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col> 
        <ion-card>
          <ion-card-header>
            <swiper-container id="container10" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/RedSpike1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/RedSpike2.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Very Spikey Icosahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 ``Igel'' units. A personal favorite!
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/RedTornillo.JPG">
            </picture>
            <ion-card-title>Red Small Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 tornillo units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container11" loop="true" init="false">
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/SmallGeodesic1.JPG">
              </swiper-slide>
              <swiper-slide class="horizontal-swiper">
                <img class="full-screen-image" src="/assets/Art Images/SmallGeodesic2.JPG">
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Icosahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 120 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/RedTornillo.JPG">
            </picture>
            <ion-card-title>Tornillo Shapes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            A pentagonal antiprism, snub cube, and hexagonal antiprism.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Art Images/ManyOrigamis1.JPG">
            </picture>
            <ion-card-title>Many Stellated Icosahedra</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each made with 30 modified sonobe units.
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>