<ion-content [fullscreen]="true">
  <h1 align="center" class="headmargin">
    <font size="+3"> <strong>
        Artistic Endeavors
      </strong></font>
  </h1>
  <h2 align="center" class="margin">
    <font size="+1">
      Expressing Creativity
    </font>
  </h2>
  <p align="center" class="txtmargin">
    I believe math and art are intertwined, but for the sake of organization, art has a separate page.
  </p>

  <ion-grid>
    <ion-row> <!-- 1 -->
      <ion-col> <!-- 1.1 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/BigGeodesicOrigami.png" />
            </picture>
            <ion-card-title>Icosahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 480 tornillo units. If you look at the inside set of vertices, it’s the &lcub;3,5+&rcub;_(2,2)
            geodesic polyhedron . If you look at the outside set of vertices, it’s the &lcub;5,3+&rcub;_(2,2) Goldberg
            polyhedron. If you consider every face to be that of a geodesic polyhedron, it would be
            &lcub;3,5+&rcub;_(6,0)
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.2 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/HexagonalOrigami.png" />
            </picture>
            <ion-card-title>Hexagons</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with Eric Gjerde's Spread Hex tessellation.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.3 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/AlexWearingOrigami.png" />
            </picture>
            <ion-card-title>Hexagonal Hat</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            My cat, Alex, proudly displaying the hexagonal origami.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.4 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/RainbowCircle.png" />
            </picture>
            <ion-card-title>Circle of Shapes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each shape was made with 30 very small sonobe units and placed around a circle construction.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.5 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/GreenOrigami.png" />
            </picture>
            <ion-card-title>Green Excavated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.6 --> <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/OrangeOrigami.png" />
            </picture>
            <ion-card-title>Orange Excavated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 of Byriah Loper's Vortex Module.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.7 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/SeveralOrigamis.png" />
            </picture>
            <ion-card-title>Shape Stack</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Assorted origami shapes.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.8 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/OrangeBlackOrigami.png" />
            </picture>
            <ion-card-title>Stellated icosahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 modified Sonobe units.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.9 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/SonobeGeodesicOrigami.png" />
            </picture>
            <ion-card-title>Octahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 108 Sonobe units. This origami is the stellated octahedral geodesic polyhedron
            &lcub;3,4+&rcub;_(3,0), or if you view the stellations as more faces, it's the octahedral geodesic
            polyhedron &lcub;3,4+&rcub;_(3,3).
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.10 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/YellowRedBlocksOrigami.png" />
            </picture>
            <ion-card-title>Cube Stack</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 6, 12, and 24 modified Sonobe units respectively
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.11 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/PurpleOrigami.png" />
            </picture>
            <ion-card-title>Purple Great Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Rather, a "slightly" truncated great stellated dodecahedron.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col> <!-- 1.12 -->
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/YellowPinkOrigami.png" />
            </picture>
            <ion-card-title>Sunrise Origami</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>