.margin {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
}

.headmargin {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-right: 40px;
  margin-left: 40px;
}

.abtmargin {
  margin-top: 40px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
}

.limgmargin {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 5px;
  margin-left: 10px;
  height: 290px;
}

.rimgmargin {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 5px;
  height: 290px;
}

.imgmargin {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-left: 10px;
  height: 290px;
}

.text {
  text-align: center;
  font-size: +1;
}

ion-card {
  --font-size: "+1";
}

ion-card-title {
  --font-size: "+2";
}
