<ion-footer>
  <ion-toolbar color="tertiary">
    <div class="toolbar">
      <ion-button href="projects">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-content [fullscreen]="true">
  <h1 class="heading" align="center">Traditional Art</h1>
  <p class="normaltext" align="center">
    Most of the art pictured was made from 2023-present. My motivation is to express 
    myself without worrying about the quality or
    quantity of what I produce. I
    frequently use several different mediums on one piece, because I find
    layering different mediums is the best way to engage with
    different parts of my brain.
  </p>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/BluePerson.jpg" />
            </picture>
            <ion-card-title>Untitiled, 2023</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with charcoal and pastels on recycled paper, 14"x17".
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/Fish.jpg" />
            </picture>
            <ion-card-title>Untitled, 2023</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Multimedia on recycled paper, 14"x17".
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/Heads.jpg" />
            </picture>
            <ion-card-title>Untitled, 2023</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with charcoal, pastels, and oil pastels on recycled paper,
            14"x17".
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/BlackOnStripes.jpg" />
            </picture>
            <ion-card-title>Untitled, 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with pastels and oil pastels on mixed paper, 9"x12".
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/BotoxGuy.jpg" />
            </picture>
            <ion-card-title>Untitled, 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with charcoal and pastels on black drawing paper, 9"x12".
          </ion-card-content>
        </ion-card> 
      </ion-col> -->

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/Flashbacks.jpg" />
            </picture>
            <ion-card-title>"Flashbacks", 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with pastels and oil pastels on black drawing paper, 9"x12".
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/HeadBack.jpg" />
            </picture>
            <ion-card-title>Untitled, 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with oil pastels on black drawing paper, 9"x12".
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/MarkerGuy.jpg" />
            </picture>
            <ion-card-title>Untitled, 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with markers and pastels on marker paper, 8.5"x11".
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/OpenMouth.jpg" />
            </picture>
            <ion-card-title>Untitled, 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Multimedia on recycled paper, 14"x17".
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/OrangeOnPurple.jpg" />
            </picture>
            <ion-card-title>Untitled, 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with pastels and oil pastels on black drawing paper, 9"x12".
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/RedShadow.jpg" />
            </picture>
            <ion-card-title>Untitled, 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with markers on marker paper, 8.5"x11".
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <!-- <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Art Images/SelfPortrait.jpg" />
            </picture>
            <ion-card-title>Self Portrait, 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Multimedia on black drawing paper, 9"x12".
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img src="/assets/Art Images/Stone.jpg" />
            </picture>
            <ion-card-title>"Architect", 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with charcoal, pastels, and oil pastels on recycled paper,
            14"x14".
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!-- <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Art Images/Whale.jpg"
              />
            </picture>
            <ion-card-title>"Humpback Whale", 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with markers and pastels on marker paper, 8.5"x11".
          </ion-card-content>
        </ion-card>
      </ion-col> -->

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img src="/assets/Art Images/YellowOnBlue.jpg" />
            </picture>
            <ion-card-title>Untitled, 2024</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with oil pastels on black drawing paper, 9"x12".
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
