ion-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-card {
  padding: 5px;
  width: 360px;
}

swiper-container {
  width: 320px;
}

.horizontal-swiper {
  height: 100%;
  align-items: center;
}

.full-screen-image {
  height: auto;
  object-fit: cover;
}
