.margin {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 40px;
  }

.headmargin {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-right: 40px;
  margin-left: 40px;
}

.image{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 120px;
}

div {
  text-align: center;
}

.vac {
  vertical-align: middle
}

.gal {
  margin-top: 20px
}

.spinner-large {
  margin-top: 24px;
  width: 100px;
  height: 100px;
}