<ion-tabs>

  <ion-tab-bar slot="top" class="tabbar">
    <ion-tab-button tab="tab1" href="/tabs/tab1">
      <ion-icon aria-hidden="true" name="home" class="icon"></ion-icon>
      <ion-label class="label">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2">
      <ion-icon aria-hidden="true" name="planet" class="icon"></ion-icon>
      <ion-label class="label">About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4" href="/tabs/tab4">
      <ion-icon aria-hidden="true" name="cube" class="icon"></ion-icon>
      <ion-label class="label">Math</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab5" href="/tabs/tab5">
      <ion-icon aria-hidden="true" name="color-palette" class="icon"></ion-icon>
      <ion-label class="label">Art</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab6" href="/tabs/tab6">
      <ion-icon aria-hidden="true" name="camera" class="icon"></ion-icon>
      <ion-label class="label">Photography</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
