<ion-tabs>
  <ion-tab-bar slot="top" class="tabbar">
    <ion-tab-button tab="home" href="/home/" class="tab-button">
      <ion-icon aria-hidden="true" name="home" class="icon"></ion-icon>
      <ion-label class="label">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="research" href="/research/" class="tab-button">
      <ion-icon aria-hidden="true" name="cube" class="icon"></ion-icon>
      <ion-label class="label">Research</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="projects" href="/projects/" class="tab-button">
      <ion-icon aria-hidden="true" name="planet" class="icon"></ion-icon>
      <ion-label class="label">Projects</ion-label>
    </ion-tab-button>

  </ion-tab-bar>
</ion-tabs>
