<ion-tabs>
  <ion-tab-bar slot="top" class="tabbar">
    <ion-tab-button tab="home" href="/home" class="tab-button">
      <ion-icon aria-hidden="true" name="home" class="icon"></ion-icon>
      <ion-label class="label">Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/about" class="tab-button">
      <ion-icon aria-hidden="true" name="planet" class="icon"></ion-icon>
      <ion-label class="label">About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="math" href="/math" class="tab-button">
      <ion-icon aria-hidden="true" name="cube" class="icon"></ion-icon>
      <ion-label class="label">Math</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="art" href="/art" class="tab-button">
      <ion-icon aria-hidden="true" name="color-palette" class="icon"></ion-icon>
      <ion-label class="label">Art</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="photos" href="/photos" class="tab-button">
      <ion-icon aria-hidden="true" name="camera" class="icon"></ion-icon>
      <ion-label class="label">Photos</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
