<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="8">
        <h1 class="heading">Hi! I'm Cal</h1>
        <p class="bigtext">
          This page is a digital repository of some important personal
          collections.
        </p>
        <h1 class="subheading">Contact Information:</h1>
        <p class="bigtext">
          <ion-icon name="at"></ion-icon> Personal email: calum.heldt@gmail.com
        </p>
        <p class="bigtext">
          <ion-icon name="at"></ion-icon> School email: cheldt@unomaha.edu
        </p>
        <p class="bigtext">
          <ion-icon name="logo-linkedin"></ion-icon> LinkedIn: Calum Heldt
        </p>
      </ion-col>

      <ion-col size="12" size-lg="4">
        <ion-card class="image-card">
          <ion-card-header>
            <picture align="center">
              <img class="responsive-image" src="/assets/icon/aabergimg2.jpeg" />
            </picture>
          </ion-card-header>
          <ion-card-content>
            <ion-card-title class="normaltext">
              An image of me with my former mentor and SHS Math Team coach, 2015
              Nebraska Teacher of the Year, Mr. Shelby Aaberg.
            </ion-card-title>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-card style="background-color: var(--ion-color-bg)">
          <ion-card-header>
            <ion-text class="subheading" align="center">
              "Education is the kindling of a flame, not the filling of a vessel"
              - Socrates
            </ion-text>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-item-divider></ion-item-divider>
    <ion-row>
      <ion-col size="12">
        <h1 class="subheading">About me:</h1>
        <p class="normaltext">
          I firmly believe in the transformational power of education and I'm
          currently aspiring to gain as much knowledge as possible in my
          undergraduate experience. My goal is to become a math professor,​
          continuing my own math research while teaching and providing impactful
          opportunities to students. I am inspired by the educators that have
          provided life-changing opportunities for me.
        </p>
        <p class="normaltext">
          I graduated from Scottsbluff High School in May of 2023. As a
          Sophomore (Spring 2021), I took Number Theory and Cryptography through
          the University of Nebraska-Omaha. This was my gateway to pure
          mathematics, teaching me the intricacies and joy behind proof-writing.
          Summer of 2021 I participated in elliptic curves and Diophantine
          equations research, then took Abstract Algebra I and II as a Junior
          (Fall 2021-Spring 2022). I excelled in these courses and once again
          earned an opportunity to do math research, this time in the
          classification of Galois groups with powers of some prime, <i>p</i>,
          over fields with characteristic <i>p</i>. This research evolved into
          my current project, the classification of a specific family of such
          Galois groups with maximal nilpotency class. More on this project
          <a href="research" target="_blank">here</a>. My Senior year, I took
          Introduction to Topology (Spring 2023) along with 4 AP Courses. I was
          accepted into the UNO Walter Scott Jr. Scholarship, where I am
          currently studying Pure Mathematics and Computer Science.
        </p>
        <p class="normaltext">
          Aside from math, I spend my time creating art, including origami and
          mathematical constructions. I enjoy photographing nature and learning
          more as I do so. Recently, I joined the Nebraska Mycological Society
          to learn more about mushrooms, which have piqued my interest primarily
          for their convergent taxonomy and the niche they fill in ecosystems.
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
