<ion-content [fullscreen]="true">
  <ion-row>
    <!-- 1 -->
    <ion-col>
      <!-- 1.1 -->
      <ion-text>
        <h1 class="heading" align="left">Hi! I'm Cal</h1>
        <h2 class="bigtext" align="left">
          This page is a digital repository of some important personal
          collections.
        </h2>
        <h1 class="subheading">Contact Information:</h1>
        <p class="bigtext">
          <ion-icon name="at"></ion-icon> Personal email: calum.heldt@gmail.com
        </p>
        <p class="bigtext">
          <ion-icon name="at"></ion-icon> School email: cheldt@unomaha.edu
        </p>
        <p class="bigtext">
          <ion-icon name="logo-linkedin"></ion-icon> LinkedIn: Calum Heldt
        </p>
      </ion-text>
    </ion-col>
    <ion-col>
      <!-- 1.2 -->
      <ion-card>
        <ion-card-header>
          <picture align="center">
            <img class="image" src="/assets/icon/aabergimg2.jpeg" />
          </picture>
        </ion-card-header>
        <ion-card-title class="normaltext">
          An image of me with my former mentor and SHS Math Team coach, 2015
          Nebraska Teacher of the Year, Mr. Shelby Aaberg.
        </ion-card-title>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <!-- 2 -->
    <ion-col>
      <!-- 2.1 -->
      <ion-card style="background-color: var(--ion-color-bg)">
        <ion-card-header>
          <ion-text class="subheading" align="center">
            "Education is the kindling of a flame, not the filling of a vessel"
            - Socrates
          </ion-text>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>
  <ion-row>
    <!-- 3 -->
    <ion-col>
      <!-- 3.1 -->
      <ion-text>
        <h1 class="subheading" align="left">About me:</h1>
        <p class="normaltext">
          I firmly believe in the transformational power of education and I'm
          currently aspiring to gain as much knowledge as possible in my
          undergraduate experience. My goal is to become a math professor,​
          continuing my own math research while teaching and providing impactful
          opportunities to students. I am inspired by the educators that have
          provided lifechanging opportunities for me.
        </p>
        <p class="normaltext">
          I graduated from Scottsbluff High School in May of 2023. As a
          Sophomore (Spring 2021), I took Number Theory and Cryptography through
          the University of Nebraska-Omaha. This was my gateway to pure
          mathematics, teaching me the intricacies and joy behind proof-writing.
          Summer of 2021 I participated in elliptic curves and Diophantine
          equations research, then took Abstract Algebra I and II as a Junior
          (Fall 2021-Spring 2022). I excelled in these courses and once again
          earned an opportunity to do math reserch, this time in the
          classification of Galois groups with powers of some prime, <i>p</i>,
          over fields with characteristic <i>p</i>. This reserach evolved into
          my current project, the classification of a specific family of such
          Galois groups with maximal nilpotency class. More on this project
          <a href="research" target="_blank">here</a>. My Senior year, I took
          Introduction to Topology (Spring 2023) along with 4 AP Courses. I was
          accepted into the UNO Walter Scott Jr. Scholarship, where I am
          currently studying Pure Mathematics and Computer Science.
        </p>
        <p class="normaltext">
          Aside from math, I spend my time creating art, including origami and
          mathematical constructions. I enjoy photographing nature and learning
          more as I do so. Recently, I joined the Nebraska Mycological Society
          to learn more about mushrooms, which have piqued my interest primarily
          for their convergent taxonomy and the niche they fill in ecosystems.
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>
