<ion-content [fullscreen]="true">
  <h1 align="left" class="headmargin"><font size="+2"> <strong>
    Hi! I'm Calum Heldt
  </strong></font></h1>
  <h2 align="left" class="margin"><font size="+1">
    This page is a digital repository of some important personal collections. 
  </font></h2>
  <h1 class="headmargin"><font size="+2"> <strong>
    Contact Information:
  </strong></font></h1>
    <p class="margin">
      <ion-icon name="at"></ion-icon> Personal email: cal.muon32@gmail.com
    </p>
    <p class="margin">
      <ion-icon name="at"></ion-icon> School email: cheldt@unomaha.edu
    </p>
    <p class="margin">
      <ion-icon name="logo-linkedin"></ion-icon> LinkedIn: Calum Heldt
    </p>
</ion-content>
