<ion-content [fullscreen]="true">
  <ion-row> <!-- 1 -->
    <ion-col> <!-- 1.1 -->
      <ion-text>
        <h1 align="left" class="headmargin">
          <font size="+2"> <strong>
              Hi! I'm Calum Heldt
            </strong></font>
        </h1>
        <h2 align="left" class="margin">
          <font size="+1">
            This page is a digital repository of some important personal collections.
          </font>
        </h2>
        <h1 class="headmargin">
          <font size="+2"> <strong>
              Contact Information:
            </strong></font>
        </h1>
        <p class="margin">
          <ion-icon name="at"></ion-icon> Personal email: cal.muon32@gmail.com
        </p>
        <p class="margin">
          <ion-icon name="at"></ion-icon> School email: cheldt@unomaha.edu
        </p>
        <p class="margin">
          <ion-icon name="logo-linkedin"></ion-icon> LinkedIn: Calum Heldt
        </p>
      </ion-text>
    </ion-col>
    <ion-col> <!-- 1.2 -->
      <ion-card>
        <ion-card-header>
          <ion-text align="left">
            <font size="+2">
              "Education is the kindling of a flame, not the filling of a vessel" -Socrates
            </font>
          </ion-text>
        </ion-card-header>
      </ion-card>
      <ion-card>
        <ion-card-content>
          <ion-row>
            <ion-col align="center">
              <picture align="center">
                <img align="center" src="/assets/icon/aabergimg2.jpeg" class="imgmargin">
              </picture>
            </ion-col>
          </ion-row>
          <ion-header class="text">
            <font size="+1">
              An image of me with my former mentor and SHS Math Team coach, 2015 Nebraska Teacher of the Year, Mr. Shelby Aaberg.
            </font>
          </ion-header>
          <!--
        <picture>
          <img align="right" src="/assets/icon/SP.jpg" class="rimgmargin">
        </picture>
      -->
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-item-divider></ion-item-divider>
  <ion-row> <!-- 2 -->
    <ion-col> <!-- 2.1 -->
      <ion-text>
        <h1 align="left" class="abtmargin">
          <font size="+2"> <strong>
              About me:
            </strong></font>
        </h1>
        <p class="margin">
          I firmly believe in the transformational power of education and I'm currently aspiring to gain as much
          knowledge as possible in my undergraduate experience. My goal is to become a math professor,​ continuing my
          own
          math research while teaching and providing impactful opportunities to students. I am inspired by the educators
          that have provided lifechanging opportunities for me.
        </p>
        <p class="margin">
          I graduated from Scottsbluff High School in May of 2023. As a Sophomore (Spring 2021), I took Number Theory
          and
          Cryptography through the University of Nebraska-Omaha. This was my gateway to pure mathematics, teaching me
          the
          intricacies and joy behind proof-writing. Summer of 2021 I participated in elliptic curves and Diophantine
          equations research, then took Abstract Algebra I and II as a Junior (Fall 2021-Spring 2022). I excelled in
          these
          courses and once again earned an opportunity to do math reserch, this time in the classification of Galois
          groups
          with powers of some prime, <i>p</i>, over fields with characteristic <i>p</i>. This reserach evolved into my
          current project, the classification of a specific family of such Galois groups with maximal nilpotency class.
          More
          on this project <a href="tabs/tab8" target="_blank">here</a>. My Senior year, I took Introduction to Topology
          (Spring 2023)
          along with 4 AP Courses. I was accepted into the UNO Walter Scott Jr. Scholarship, where I am currently
          studying
          Pure Mathematics and Computer Science.
        </p>
        <p class="margin">
          Aside from math, I spend my time creating art, including origami and mathematical constructions. I enjoy
          photographing nature and learning more as I do so. Recently, I joined the Nebraska Mycological Society to
          learn more
          about mushrooms, which have piqued my interest primarily for their convergent taxonomy and the niche they
          fill in
          ecosystems.
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-content>