<ion-footer>
  <ion-toolbar color="tertiary">
    <div class="toolbar">
      <ion-button href="projects">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-content [fullscreen]="true">
  <h1 class="heading" align="center">Origami Art</h1>
  <p class="normaltext" align="center">
    Most of the origami pictured was made in 2021-2023. As I relocate various
    instructions, I will update this page to credit the original creators of
    each module.
  </p>

  <ion-grid>
    <ion-row>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/BigGeodesicOrigami.jpg" />
            </picture>
            <ion-card-title>Icosahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 480 tornillo units. If you look at the inside set of
            vertices, it&apos;s the &lcub;3,5+&rcub;_(2,2) geodesic polyhedron . If
            you look at the outside set of vertices, it&apos;s the
            &lcub;5,3+&rcub;_(2,2) Goldberg polyhedron. If you consider every
            face to be that of a geodesic polyhedron, it would be
            &lcub;3,5+&rcub;_(6,0)
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/HexagonalOrigami.jpg" />
            </picture>
            <ion-card-title>Hexagons</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with Eric Gjerde&apos;s Spread Hex tessellation.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/AlexWearingOrigami.jpg" />
            </picture>
            <ion-card-title>Hexagonal Hat</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            My cat, Alex, proudly displaying the hexagonal origami.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/RainbowCircle.jpg" />
            </picture>
            <ion-card-title>Circle of Shapes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each shape was made with 30 very small sonobe units and placed
            around a circle construction.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/GreenOrigami.jpg" />
            </picture>
            <ion-card-title>Green Excavated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 30 units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/OrangeOrigami.jpg" />
            </picture>
            <ion-card-title>Orange Excavated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 of Byriah Loper&apos;s Vortex Module.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/SeveralOrigamis.jpg" />
            </picture>
            <ion-card-title>Shape Stack</ion-card-title>
          </ion-card-header>
          <ion-card-content> Assorted origami shapes. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container5" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/PurpleFlowers1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/PurpleFlowers2.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Floral Small Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 30 units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/sonobeGeodesicOrigami.jpg" />
            </picture>
            <ion-card-title>Octahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 108 sonobe units. This origami is the stellated octahedral
            geodesic polyhedron &lcub;3,4+&rcub;_(3,0), or if you view the
            stellations as more faces, it's the octahedral geodesic polyhedron
            &lcub;3,4+&rcub;_(3,3).
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/YellowRedBlocksOrigami.jpg" />
            </picture>
            <ion-card-title>Cube Stack</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 6, 12, and 24 modified sonobe units respectively
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/PurpleOrigami.jpg" />
            </picture>
            <ion-card-title>Purple Great Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Rather, a &quot;slightly&quot; truncated great stellated dodecahedron.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <picture>
              <img src="/assets/Origami Images/YellowPinkOrigami.jpg" />
            </picture>
            <ion-card-title>Sunrise Origami</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 30 units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <swiper-container id="container2" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/Pentagon5.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Pentagon6.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Pentagon2.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Pentagon1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Pentagon4.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Pentagon3.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Intersecting Pentagons</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 30 units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/SmallBlack2.jpg"
              />
            </picture>
            <ion-card-title>Small but Complex</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 30 units </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <swiper-container id="container1" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/Sun1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Sun2.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Sun3.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Sun4.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Sun5.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Sun6.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Playing with Color</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units, transition from sunset shades to sunrise shades.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/ManyTornillos1.jpg"
              />
            </picture>
            <ion-card-title>Tornillo Versatility</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            All Archimedean solids made with the tornillo unit. Stellated snub
            cube, icosidodecahedron, octahedron, cuboctahedron, hexagonal
            antiprism, small rhombicosidodecahedron.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/SeveralDiffOrigamis.jpg"
              />
            </picture>
            <ion-card-title>Miscellaneous Origamis</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each made with 4-12 units. Notice the weird one in the middle? It
            has the least symmetry out of any origami shape I've made.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/Small.jpg"
              />
            </picture>
            <ion-card-title>Octahedral Symmetry</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each is made with 12 units and displays octahedral symmetry.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/WhiteGuys.jpg"
              />
            </picture>
            <ion-card-title>White Origami, Black Background</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            These were some of the first origami shapes I ever made, before I
            got fun, colorful paper.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/PinkFlowerGissid.jpg"
              />
            </picture>
            <ion-card-title
              >Flowering Great Stellated Dodecahedron</ion-card-title
            >
          </ion-card-header>
          <ion-card-content> Made with 30 units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container6" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/BigGeodesic1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/BigGeodesic2.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Icosahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 480 tornillo units. Notice the pentagonal placement versus
            hexagonal placement of triangular prisms?
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/TornilloStack.jpg"
              />
            </picture>
            <ion-card-title
              >Stack of Small Stellated Dodecahedra</ion-card-title
            >
          </ion-card-header>
          <ion-card-content>
            6 shapes, each made with 30 units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/GeodesicTetr1.jpg"
              />
            </picture>
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/GeodesicTetr2.jpg"
              />
            </picture>
            <ion-card-title>Geodesic Tetrahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 216 units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <swiper-container id="container3" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/BlackOrange1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/BlackOrange2.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <swiper-container id="container4" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/PurpleGreen1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/PurpleGreen2.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Two Bi-Colored Stellated Icosahedra</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each made with 30 modified sonobe units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container7" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/GreenGuy1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/GreenGuy2.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <ion-card-title
              >Slightly Truncated Small Stellated Dodecahedron</ion-card-title
            >
          </ion-card-header>
          <ion-card-content> Made with 30 units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/Colorful.jpg"
              />
            </picture>
            <ion-card-title>Colorful Shape</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 modified sonobe units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/BlueTornillo.jpg"
              />
            </picture>
            <ion-card-title>Blue Small Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 30 tornillo units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container8" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/ColorfulTornillo1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/ColorfulTornillo2.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Pentagonal Antiprism</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 20 units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container9" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/Flowers1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/Flowers2.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Flowering Icosahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 units. A good way to see the icosahedron/dodecahedron
            dual property!
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/Gissid.jpg"
              />
            </picture>
            <ion-card-title>Great Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 30 tornillo units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/GreenFlowerOrigami.jpg"
              />
            </picture>
            <ion-card-title>Stellated Icosahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 modified sonobe units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container10" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/RedSpike1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/RedSpike2.jpg"
                />
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Very Spikey Icosahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Made with 30 ``Igel'' units. A personal favorite!
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img
                class="full-screen-image"
                src="/assets/Origami Images/RedTornillo.jpg"
              />
            </picture>
            <ion-card-title>Red Small Stellated Dodecahedron</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 30 tornillo units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header>
            <swiper-container id="container11" loop="true" init="false">
              <swiper-slide>
                <img src="/assets/Origami Images/SmallGeodesic1.jpg"
                />
              </swiper-slide>
              <swiper-slide>
                <img src="/assets/Origami Images/SmallGeodesic2.jpg" />
              </swiper-slide>
            </swiper-container>
            <ion-card-title>Icosahedral Geodesic Polyhedron</ion-card-title>
          </ion-card-header>
          <ion-card-content> Made with 120 units. </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img src="/assets/Origami Images/ManyOrigamis1.jpg" />
            </picture>
            <ion-card-title>Many Stellated Icosahedra</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            Each made with 30 modified sonobe units.
          </ion-card-content>
        </ion-card>
      </ion-col>

      <!--
      <ion-col>
        <ion-card>
          <ion-card-header align-items="center">
            <picture>
              <img class="full-screen-image" src="/assets/Origami Images/Tornillos1.jpg">
            </picture>
            <ion-card-title>Tornillo Shapes</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            A pentagonal antiprism, snub cube, and hexagonal antiprism.
          </ion-card-content>
        </ion-card>
      </ion-col>
      -->
    </ion-row>
  </ion-grid>
</ion-content>
