<ion-content [fullscreen]="true">
  <ion-row>
    <ion-col>
      <h1 class="headmargin">
        <font size="+4"> <strong>
            Calum Heldt
          </strong></font>
      </h1>
      <h2 class="margin">
        <font size="+2">
          Bachelor of Science in Mathematics
        </font>
      </h2>
      <h3 class="margin">
        <font size="+2">
          Bachelor of Science in Computer Science
        </font>
      </h3>
      <h4 class="margin">
        <font size="+2">
          NASA Nebraska Space Grant Recipient (2023-2024)
        </font>
      </h4>
      <h6 class="margin">
        <font size="+2">
          University of Nebraska-Omaha Scott Scholar
        </font>
      </h6>
      <h6 class="margin">
        <font size="+2">
          Undergraduate Researcher at UNO
        </font>
      </h6>
      <h6 class="margin">
        <font size="+2">
          "Shape Master"
        </font>
      </h6>
    </ion-col>
    <ion-col>
      <ion-card>
        <ion-card-header>
          <picture>
            <img align="right" src="assets/icon/cal1.jpg" style="width:600px">
          </picture>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>

</ion-content>