<ion-content [fullscreen]="true">
    <h1 align="center" class="headmargin"><font size="+3"> <strong>
        Constructions
    </strong></font></h1>
    <div style="text-align:center;margin-top:20px;margin-bottom:20px;height:20px;line-height:20px">
        <ion-button href="tabs/tab4" >
            <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
    </div>
    <ion-grid>
      <ion-item-divider></ion-item-divider>
        <ion-row> <!-- 1 -->
          <ion-col> <!-- 1.1 -->
            <img align="left" class="image" src="/assets/Math Images/GRI.png" style="height:400px;">
          </ion-col>
          <ion-col> <!-- 1.2 -->
            <div style="color:rgb(80,140,36);margin-left:0px;margin-right:120px"><span><font size="+3"><b>
              Great Rhombic Triacontahedron
            </b></font></span></div>
            <div><span style="text-align:justify;margin-left:0px;margin-right:120px"><font size="+1">
              Using Geogebra 3d graphing software and information on the <a href="https://polytope.miraheze.org/wiki/Great_rhombic_triacontahedron"  target="_blank">Polytope Wiki</a>, I made this Great Rhombic Triacontahedron. My graph can be found <a href="https://geogebra.org/3d/jemyfpmd">here</a>. The colors are placed symetrically to show how the different rhombi fit together. 
            </font></span></div>
          </ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row> <!-- 2 -->
          <ion-col> <!-- 2.1 -->
            <div style="color:rgb(194,59,59);margin-left:100px;margin-right:40px"><span><font size="+3"><b>
              Volume of a Tetrahedron
            </b></font></span></div>
            <div><span style="text-align:justify;margin-left:100px;margin-right:40px"><font size="+1">
              Using Geogebra 3d graphing software, I made an interactive visual "proof" that the volume of any tetrahedron is 1/3 the volume of its circumscribed rectangular prism. My graph can be found <a href="https://geogebra.org/3d/qjw9pk7a"  target="_blank">here</a>.
            </font></span></div>
          </ion-col>
          <ion-col> <!-- 2.2 -->
            <img align="left" class="image" src="/assets/Math Images/Volume.png" style="height:400px;margin-left:0px;margin-right:120px">
          </ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row> <!-- 3 -->
          <ion-col> <!-- 3.1 -->
            <img align="left" class="image" src="/assets/Math Images/Torus.png" style="height:400px;margin-left:60px">
          </ion-col>
          <ion-col> <!-- 3.2 -->
            <div style="color:rgb(88,72,183);margin-left:40px;margin-right:100px"><span><font size="+3"><b>
              Colorful Torus
            </b></font></span></div>
            <div><span style="text-align:justify;margin-left:40px;margin-right:100px"><font size="+1">
              Using Geogebra 3d grahing software and equations for the graph of a torus, I made this rainbow spiral torus. My graph can be found <a href="https://geogebra.org/3d/ay2pqahe"  target="_blank">here</a>. The colors form a gradient automatically as the circles revolve around the center of the torus.
            </font></span></div>
          </ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
        <ion-row> <!-- 3 -->
          <ion-col> <!-- 3.1 -->
            <div style="color:rgb(8, 91, 103);margin-left:80px;margin-right:80px;margin-bottom:40px;"><span><font size="+3"><b>
              Examining Field Extensions
            </b></font></span></div>
          </ion-col>
        </ion-row>
        <ion-row> <!-- 4 -->
          <ion-col> <!-- 4.1 -->
            <img align="left" class="image" src="/assets/Math Images/FE3.png" style="height:320px;margin-left:60px;margin-right:20px">
          </ion-col>
          <ion-col> <!-- 4.2 -->
            <img align="center" class="image" src="/assets/Math Images/FE2.png" style="height:320px;margin-left:10px;margin-right:60px">
          </ion-col>
          <ion-col> <!-- 4.3 -->
            <img align="right" class="image" src="/assets/Math Images/FE1.png" style="height:320px;margin-left:60px;margin-right:60px">
          </ion-col>
        </ion-row>
        <ion-row> <!-- 5 -->
          <ion-col> <!-- 5.1 -->
            <div style="text-align:center">
            These are representations of certain field extensions used in my current research. The graphs were made in LaTeX with xymatrix.
            </div>
          </ion-col>
        </ion-row>
        <ion-item-divider></ion-item-divider>
      </ion-grid>
</ion-content>