<ion-footer class="ion-no-border">
  <ion-toolbar color="tertiary">
    <div class="toolbar">
      <ion-button href="math" class="button">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-content [fullscreen]="true">
  <h1 class="heading" align="center">An Interesting Question</h1>
  <div class="question">{{ q1 }}</div>

  <ion-item-divider></ion-item-divider>
  <div class="subheading" align="center">
    Lagrange Multipliers (Calum Heldt):
  </div>
  <ion-item-divider></ion-item-divider>
  <div class="normaltext">{{ lm }}</div>

  <ion-item-divider></ion-item-divider>
  <div class="subheading" align="center">
    Cauchy-Schwarz Inequality (Calum Heldt):
  </div>
  <ion-item-divider></ion-item-divider>
  <div class="normaltext">{{ cs }}</div>

  <ion-item-divider></ion-item-divider>
  <div class="subheading" align="center">
    Angles Between Vectors (Calum Heldt):
  </div>
  <ion-item-divider></ion-item-divider>
  <div class="normaltext">{{ av }}</div>

  <ion-item-divider></ion-item-divider>
  <div class="subheading" align="center">Polynomial Roots (Dr. Griff Elder):</div>
  <ion-item-divider></ion-item-divider>
  <div class="normaltext">{{ pr }}</div>
</ion-content>
