<ion-footer>
  <ion-toolbar color="tertiary">
    <div class="toolbar">
      <ion-button href="projects">
        <ion-icon name="arrow-undo-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>

<ion-content [fullscreen]="true">
  <h1 class="heading" align="center">Constructions</h1>
  <p class="normaltext" align="center">
    Mathematical objects that I made in various websites to
    highlight their visual aspects.
  </p>
  <ion-grid>
    <ion-item-divider></ion-item-divider>
    <ion-row>

      <ion-col>
        <picture>
          <img
            class="image"
            align="left"
            src="/assets/Math Images/GRI.jpg"
            style="height: 400px"
          />
        </picture>
      </ion-col>

      <ion-col>
        <div align="center">
          <span class="subheading" style="margin-top: 80px">
            Great Rhombic Triacontahedron
          </span>
        </div>
        <div>
          <span
            class="normaltext"
            style="text-align: justify; margin-left: 80px; margin-right: 80px"
          >
            Using Geogebra 3d graphing software and information on the
            <a
              href="https://polytope.miraheze.org/wiki/Great_rhombic_triacontahedron"
              target="_blank"
              >Polytope Wiki</a
            >, I made this Great Rhombic Triacontahedron. My graph can be found
            <a href="https://geogebra.org/3d/jemyfpmd">here</a>. The colors are
            placed symmetrically to show how the different rhombi fit together.
          </span>
        </div>
      </ion-col>

    </ion-row>
    <ion-item-divider></ion-item-divider>
    <ion-row>

      <ion-col>
        <div align="center">
          <span class="subheading" style="margin-top: 80px">
            Volume of a Tetrahedron
          </span>
        </div>
        <div>
          <span
            class="normaltext"
            style="text-align: justify; margin-left: 80px; margin-right: 80px"
          >
            Using Geogebra 3d graphing software, I made an interactive visual
            "proof" that the volume of any tetrahedron is 1/3 the volume of its
            circumscribed rectangular prism. My graph can be found
            <a href="https://geogebra.org/3d/qjw9pk7a" target="_blank">here</a>.
          </span>
        </div>
      </ion-col>

      <ion-col>
        <picture>
          <img
            class="image"
            align="left"
            src="/assets/Math Images/Volume.jpg"
            style="height: 400px; margin-left: 0px; margin-right: 120px"
          />
        </picture>
      </ion-col>

    </ion-row>
    <ion-item-divider></ion-item-divider>
    <ion-row>

      <ion-col>
        <picture>
          <img
            class="image"
            align="left"
            src="/assets/Math Images/Torus.jpg"
            style="height: 400px; margin-left: 60px"
          />
        </picture>
      </ion-col>

      <ion-col>
        <div align="center">
          <span class="subheading" style="margin-top: 80px">
            Colorful Torus
          </span>
        </div>
        <div>
          <span
            class="normaltext"
            style="text-align: justify; margin-left: 80px; margin-right: 80px"
          >
            Using Geogebra 3d graphing software and equations for the graph of a
            torus, I made this rainbow spiral torus. My graph can be found
            <a href="https://geogebra.org/3d/ay2pqahe" target="_blank">here</a>.
            The colors form a gradient automatically as the circles revolve
            around the center of the torus.
          </span>
        </div>
      </ion-col>

    </ion-row>
    <ion-item-divider></ion-item-divider>
    <ion-row>

      <ion-col>
        <div style="text-align: center">
          <span class="subheading">Examining Field Extensions </span>
        </div>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>
        <picture>
          <img
            align="left"
            class="image"
            src="/assets/Math Images/FE3.jpg"
            style="height: 320px; margin-left: 60px; margin-right: 20px"
          />
        </picture>
      </ion-col>

      <ion-col>
        <picture>
          <img
            align="center"
            class="image"
            src="/assets/Math Images/FE2.jpg"
            style="height: 320px; margin-left: 10px; margin-right: 60px"
          />
        </picture>
      </ion-col>

      <ion-col>
        <picture>
          <img
            align="right"
            class="image"
            src="/assets/Math Images/FE1.jpg"
            style="height: 320px; margin-left: 60px; margin-right: 60px"
          />
        </picture>
      </ion-col>

    </ion-row>
    <ion-row>

      <ion-col>
        <div style="text-align: center">
          <span class="normaltext">
            These are representations of certain field extensions used in my
            current research. The graphs were made in LaTeX with the xymatrix package.
          </span>
        </div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>
