<ion-content [fullscreen]="true">
    <h1 align="center" class="headmargin"><font size="+3"> <strong>
        An Interesting Question
    </strong></font></h1>
    <div style="text-align:center;margin-top:20px;height:20px;line-height:20px">
        <ion-button href="tabs/tab4" >
            <ion-icon name="arrow-undo-outline"></ion-icon>
        </ion-button>
    </div>
    <div class="question">
        {{ q1 }}
    </div>

    <ion-item-divider></ion-item-divider>
    <div class="subhead">
        Lagrange Multipliers (Calum Heldt):
    </div>
    <ion-item-divider></ion-item-divider>
    <div class="margin">
        {{ lm }}
    </div>

    <ion-item-divider></ion-item-divider>
    <div class="subhead">
        Cauchy-Schwarz Inequality (Calum Heldt):
    </div>
    <ion-item-divider></ion-item-divider>
    <div class="margin">        
        {{ cs }}
    </div>

    <ion-item-divider></ion-item-divider>
    <div class="subhead">
        Angles Between Vectors (Calum Heldt):
    </div>
    <ion-item-divider></ion-item-divider>
    <div class="margin">
        {{ av }}
    </div>

    <ion-item-divider></ion-item-divider>
    <div class="subhead">
        Polynomial Roots (Dr. Griff Elder):
    </div>
    <ion-item-divider></ion-item-divider>
    <div class="margin">
        {{ pr }}
    </div>

</ion-content>
