.image-card {
    display: flex;
    justify-content: center;
    align-items: center;
}

.responsive-image {
    width: 100%;
    max-width: 600px;
}

@media (min-width: 992px) {
    .responsive-image {
        max-width: 600px;
    }
}

@media (max-width: 992px) {
    .subheading, .heading {
        margin-right: 2vw;
        margin-left: 2vw;
    }
}