<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-lg="6">
        <h1 class="heading">Hi! I'm Calum Heldt</h1>
        <p class="bigtext">
          This page is a digital repository of some important personal collections.
        </p>
        <h1 class="subheading">Contact Information:</h1>
        <p class="bigtext">
          <ion-icon name="at"></ion-icon> Personal email: calum.heldt&#64;gmail.com
        </p>
        <p class="bigtext">
          <ion-icon name="at"></ion-icon> School email: cheldt&#64;unomaha.edu
        </p>
        <p class="bigtext">
          <ion-icon name="logo-linkedin"></ion-icon> LinkedIn: Calum Heldt
        </p>
      </ion-col>

      <ion-col size="12" size-lg="4">
        <ion-card>
          <ion-card-header>
            <picture align="center">
              <img src="assets/icon/cal1.jpg" class="responsive-image" />
            </picture>
          </ion-card-header>
        </ion-card>
      </ion-col>
      
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <p class="normaltext" style="text-align: center;">
          For more details on my professional background, please view my <a href="src/assets/Resume/CV-25-01.pdf" target="_blank">CV</a>.
        </p>
      </ion-col>
    </ion-row>
    
  </ion-grid>
</ion-content>
