<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <h1 align="center" class="heading">Artistic Endeavors</h1>
    <h2 align="center" class="subheading">Expressing Creativity</h2>
    <p align="center" class="normaltext">
      I believe math and art are intertwined, but for the sake of organization,
      art has a separate page.
    </p>

    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col size="auto">
          <!-- 1.1 -->
          <ion-card>
            <ion-card-content>
              <img
                class="scaled-image"
                src="/assets/Origami Images/RhombicTri1-removebg.png"
              />
            </ion-card-content>
            <ion-button href="art/origami"> Origami Art </ion-button>
          </ion-card>
        </ion-col>
        <ion-col size="auto">
          <!-- 1.2 -->
          <ion-card>
            <ion-card-content>
              <img
                class="scaled-image"
                src="/assets/Art Images/Background.png"
              />
            </ion-card-content>
            <ion-button href="art/traditional"> Traditional Art </ion-button>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
