ion-col {
  display: flex;
  size: auto;
}

ion-card {
  padding: 5px;
  width: 360px;
}

pdf-viewer {
  display: flex;
  justify-content: center;
  align-items: center;
}

iframe.pdf-viewer {
  width: 60%;
  height: 80vh;
  margin-top: 20px;
}

video {
  width: 60%;
  height: auto;
  margin-top:20px
}